{% extends 'base_admin.html' %}
{% block main %}

    <div class="container col-8 mt-5 mb-5  bg-body-tertiary rounded shadow">
        <div class="row">
            <div class="col-12 mx-auto mt-4">
                <h2>Kategooria kustutamine</h2>
                <div class="alert alert-danger mt-4" role="alert">
                    <span>Kui kategooriaga on seotud mõni toit menüüs siis seda kategooriat kustutada ei saa!</span>
                </div>
                <div class="container col-11 bg-body-tertiary rounded shadow">
                    <h3 class="pt-4">Kas kustutan selle kategooria?</h3>
                    <h5 style="color: red;">"{{ category.name }}"</h5>
                    <form method="post">
                        {% csrf_token %}
                        <input type="submit" value="Kustuta" class="btn btn-danger mt-5 mb-4">
                    </form>
                    <p class="pb-4"><a href="{% url 'app_admin:category_list' %}">Kategooriate nimekiri</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}