{% extends 'base_admin.html' %}
{% block main %}
    <div class="container col-8 mt-5 mb-5  bg-body-tertiary rounded shadow">
        <div class="row">
            <div class="col-12 mx-auto mt-4">
                <h3>Uuenda Katekooriat <span class="fw-bold">{{ category }}</span></h3>
                <form method="post" class="form mb-4">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-field mt-3">
                            <label for="{{ field.id_for_label }}" class="fw-bold">{{ field.label }}</label>
                            {% for error in field.errors %}
                                {% if field.errors %}
                                    <div class="alert alert-danger mt-1">
                                        {{ error }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                            {{ field }}
                        </div>
                    {% endfor %}
                    <input type="submit" value="Uuenda " class="btn btn-success mt-3">
                </form>
            </div>
        </div>
    </div>

{% endblock %}