{% extends 'base_admin.html' %}
{% block main %}
    <div class="container col-8" style="background-color: white; margin-top: 50px;">
        <div class="row">
            <div class="col-8 mx-auto mt-5">
                <h3>Kategooriad</h3>
                <table class="table table-bordered table-hoover">
                    <thead>
                    <tr class="text-center">
                        <th>Number</th>
                        <th>Kategooria nimi</th>
                        <th>Tegevused</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for category in categories %}
                        <tr>
                            <td>{{ category.number }}</td>
                            <td>{{ category.name }}</td>
                            <td class="text-center">
                                <a href="{% url 'app_admin:category_update' pk=category.id %}">Muuda</a>
                                <a href="{% url 'app_admin:category_delete' pk=category.id %}"
                                   class="text-danger">Kustuta</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <a href="{% url 'app_admin:category_create' %}" role="button" class="btn btn-success mb-5">Lisa uus kategooria</a>
            </div>
        </div>
    </div>
{% endblock %}
