{% extends 'base_admin.html' %}
{% block main %}
    <div class="container col-12 mt-5 mb-5  bg-body-tertiary rounded shadow">
        <div class="row">
            <div class="col-8 mx-auto mt-5">
                <h3>Toitude lisamine</h3>
                <div class="alert alert-info" role="alert">
                    <span>Toidu lisamiseks vali soovitud kuupäev ja vastav kategooria.</span>
                </div>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">{{ message.message }}</div>
                    {% endfor %}
                {% endif %}
                <form action="" method="post">
                    {% for hidden_field in form.hidden_fields %}
                        {{ hidden_field.errors }}
                        {{ hidden_field }}
                    {% endfor %}
                    {% csrf_token %}
                    {{ form.non_form_errors }}
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger">
                            {% for error in form.non_field_errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% for field in form %}
                        <div class="form-group{% if field.errors %} has-error{% endif %}">
                            {{ field.label_tag }}
                            {{ field }}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">{{ error }}</div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    <p class="pt-4">
                        <button type="submit" class="btn btn-success w-100 mb-2">Lisa toit menüüsse</button>
                        <a href="{% url 'app_admin:foodmenu_list' %}" role="button"
                           class="btn btn-secondary w-100 mb-4">Katkesta</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
{% endblock main %}