{% extends 'base_admin.html' %}
{% load is_menu_old %}

{% block main %}
    <div class="container col-8 mt-5 mb-5  bg-body-tertiary rounded shadow">
        <div class="row">
            <div class="col-10 mx-auto mt-2">
                <h1 class="h2 mt-4">Menüüde nimekiri</h1>
                <table class="table table-bordered table-hover mt-3">
                    <thead>
                    <tr class="text-center">
                        <th>Menüü</th>
                        <th>Tegevus</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% if object_list %}
                        {% now "d.m.Y" as today %}
                        {% for menu in object_list %}
                            <tr>
                                <td>{{ menu.date }} {{ menu.category }}</td>
                                <td class="text-center">
                                    {% if  not menu.date|striptags|is_menu_old %}

                                        <a href="{% url 'app_admin:foodmenu_update' pk=menu.id %}" class="text-primary">Muuda</a>
                                        <a href="{% url 'app_admin:foodmenu_delete' pk=menu.id %}" class="text-danger">Kustuta</a>
                                    {% endif %}
                                    <a href="{% url 'app_admin:foodmenu_detail' pk=menu.id %}" class="text-warning">Vaata</a>

                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}

                        <tr>
                            <td colspan="2">Siin ei ole menüüsid mida näidata.</td>
                        </tr>
                    {% endif %}

                    </tbody>
                </table>
                <p class="pt-2">
                    <a href="{% url 'app_admin:foodmenu_create' %}" role="button" class="btn btn-primary w-100">Lisa
                        toit</a>
                </p>
            {% if page_obj.paginator.num_pages > 1 %}
                {% include 'pagination.html' %}
            {% endif %}
            </div>
        </div>
    </div>
{% endblock main %}
