{% extends 'base_admin.html' %}
{% block main %}

<div class="row col-10 mx-auto mt-2 custom-background">
    <h2>Menüü {{ estonian_date }} <a href="{% url 'app_admin:history_list' %}">Mine arhiivi tagasi</a> </h2>
    {% if object_list %}
        {% regroup object_list by menu__category__name as result %}
        <ul>
            {% for menu in result %}
                <li><span class="blue-text">{{ menu.grouper }}</span> <!-- Rakenda sinine tekst ainult kategooria nimele -->
                    <ul>
                        {% for m in menu.list %}
                            <li>{{ m.food }}: {{ m.full_price }}{% if m.half_price > 0 %}
                                / {{ m.half_price }}
                            {% endif %} </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock main %}
