{% extends 'base_admin.html' %}
{% block main %}
    <div class="container col-12 mt-5 mb-5  bg-body-tertiary rounded shadow">
        <div class="row">
            <div class="col-5 mx-auto mt-5">
                <h2>Menüü {{ estonian_date }} </h2>
                <p><a href="{% url 'app_admin:history_list' %}">Mine arhiivi tagasi</a></p>
                {% if object_list %}
                    {% regroup object_list by menu__category__name as result %}
                    <ul>
                        {% for menu in result %}
                            <li><span class="blue-text">{{ menu.grouper }}</span>
                                <!-- Rakenda sinine tekst ainult kategooria nimele -->
                                <ul>
                                    {% for m in menu.list %}
                                        <li>{{ m.food }}: {{ m.full_price }}{% if m.half_price > 0 %}
                                            / {{ m.half_price }}
                                        {% endif %} </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock main %}
