{% extends 'base_admin.html' %}
{% block main %}
    <div class="container col-12 mt-5 mb-5  bg-body-tertiary rounded shadow">
        <div class="row">
            <div class="col-8 mx-auto mt-5">
                <h3>Arhiiv</h3>
                <div class="alert alert-info" role="alert">
                    <span>Siin saad näha ajalugu toitude ja menüüde kohta.</span>
                </div>
                <div class="container mt-3 mb-5 bg-white">
                    <div class="row border border-secondary-subtle shadow">
                        <h5 class="fw-bold mt-2">Otsing menüü toitudest</h5>
                        <p style="color:#d9951a">Sisesta toidu nimi mida soovid leida</p>
                        <form action="{% url 'app_admin:history_search' %}" method="get">
                            <label for="q" class="form-label">Toidu nimi:</label>
                            <input type="text" id="q" name="q" required class="form-control" placeholder="Toidu nimi">
                            <input class="btn btn-primary my-2 mt-3" type="submit" value="Otsi">
                        </form>
                    </div>
                </div>
                <div class="container mb-5 bg-white">
                    <div class="row border border-secondary-subtle shadow">
                        <h5 class="fw-bold mt-2">Vanad menüüd</h5>
                        <form action="{% url 'app_admin:history_menu' %}" method="get">
                            <label for="date" class="form-label">Kuupäev:</label>
                            <select name="date" id="date" class="form-select form-control" required>
                                <option value="">Vali kuupäev</option>
                                {% for unique_date in unique_dates %}
                                    <option value="{{ unique_date }}">{{ unique_date }}</option>
                                {% endfor %}
                            </select>
                            <input class="btn btn-primary mt-3 mb-2" type="submit" value="Näita menüüd">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}
