{% extends 'base_admin.html' %}

{% block main %}
<br>
<div class="container" style="background-color: white;">
    <br>
    <h3 style="color:red;">Kas kustutan selle pealkirja?</h3>
    <p>
    <h5>{{ menuheadlines.date|date:"d.m.Y" }} {{ menuheadlines.teema }}</h5>
    </p>
    <br>
    <form method="post">
        {% csrf_token %}
        <input type="submit" value="Kustuta" class="btn btn-danger">
    </form>
<p></p>
    <p><a href="{% url 'app_admin:menuHeadlines_list' %}">Menüü pealkirjade nimekiri</a></p>
    <br>

</div>
{% endblock %}