{% load static %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Navbar brand -->
        <a class="navbar-brand" href="{% url 'app_admin:index' %}">
            <img src="{% static 'pictures/kehtna_logo.jpg.png' %}" alt="Avatar Logo" style="width:80px;"
                 class="rounded-pill">
            <span style="font-size: 24px; font-weight: bold;">Kehtna bistroo</span></a>

        <!-- Icons -->
        <ul class="navbar-nav d-flex flex-row me-1">
            <li class="nav-item me-3 me-lg-5">
                <a class="nav-link text-white d-flex flex-column align-items-center" href="/admin">
                    <i class="fas fa-user-graduate" style='font-size:48px; color:#c8dcd7'></i>
                    <span style='font-size: 16px;'>Admin</span>
                </a>
            </li>
            <li class="nav-item me-3 me-lg-5">
                <a class="nav-link text-white d-flex flex-column align-items-center"
                   href="{% url 'app_admin:category_list' %}">
                    <i class="fas fa-stream" style='font-size:48px; color:rgb(255,255,255)'></i>
                    <span style='font-size: 16px;'>Kategooriad</span>
                </a>
            </li>
            <li class="nav-item me-3 me-lg-5">
                <a class="nav-link text-white d-flex flex-column align-items-center"
                   href="{% url 'app_admin:menuHeadlines_list' %}">
                    <i class="fas fa-book-open" style='font-size:48px; color:rgb(255,255,255)'></i>
                    <span style='font-size: 16px;'>Pealkirjad</span>
                </a>
            </li>
            <li class="nav-item me-3 me-lg-5">
                <a class="nav-link text-white d-flex flex-column align-items-center"
                   href="{% url 'app_admin:foodmenu_list' %}">
                    <i class="fas fa-apple-alt" style='font-size:48px; color:rgb(255,255,255)'></i>
                    <span style='font-size: 16px;'>Toidud</span>
                </a>
            </li>
            <li class="nav-item me-3 me-lg-5">
                <a class="nav-link text-white d-flex flex-column align-items-center"
                   href="{% url 'app_admin:history_list' %}">

                    <i class="fas fa-file-alt" style='font-size:48px; color:rgb(255,255,255)'></i>
                    <span style='font-size: 16px'>Arhiiv</span>
                </a>
            </li>
            <li class="nav-item me-3 me-lg-5">
                <a class="nav-link text-white d-flex flex-column align-items-center"
                   href="{% url 'app_public:index' %}">

                    <i class="fas fa-file-alt" style='font-size:48px; color:rgb(255,255,255)'></i>
                    <span style='font-size: 16px'>Menüü avalik</span>
                </a>
            </li>

            {% if user.is_authenticated %}
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">
                        <i class="fas fa-running" style='font-size:48px; color:rgb(255,255,255)'></i>


                    </button>
                    <p style="font-size: 16px; color: white;">Log out</p>
                </form>
            {% endif %}

        </ul>
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->